# System Files
.DS_Store
Thumbs.db

# Python
env/
__pycache__/
*.pyc
*.pyo

# Logs
*.log
logs/

# Environment Variables
.env

# Build
build/
dist/
*.egg-info/

# IDE/Editor
.vscode/
.idea/

# Temp Files
*.tmp
*.bak
*.old

# Data
*.csv
*.sqlite
*.db
*.pkl
*.json

# LangChain-Specific
api_key.json